{
  "openapi": "3.1",
  "info": {
    "version": "1.4.0",
    "title": "board APIドキュメント",
    "description": "## 概要\nこのドキュメントではboardのAPI仕様について説明します。\n\n[board APIファーストガイド](https://the-board.jp/helps/help_api_first_guide)ではデータ構造などの全体像の解説をしていますので、まずはじめにファーストガイドをご覧いただくとスムーズです。\n\n当ドキュメントではシステムとしての業務仕様の説明はありません。そのため、とくに、普段業務ではboardを利用していない方がAPI用途のみで利用する場合は、当ドキュメントを読み進める前に、案件の概念や、案件との書類の関係などの基本仕様を、ファーストガイドやヘルプで把握しておくことをお勧めします。\n\n### CHANGELOG\nAPIに関する変更履歴は[CHANGELOG](/changelog)をご確認ください。\n\n### エンドポイント\n\n```\nhttps://api.the-board.jp/v1/{各エンドポイントのパス}\n```\n\n### OpenAPI\n当APIドキュメントは、OpenAPIの仕様に沿って作成されています。\n\nページトップの「Download OpenAPI specification」から、OpenAPI specificationのJSONデータをダウンロードできます。\nこのJSONデータをPostmanなどOpenAPIに対応しているAPI開発ツールの取り込むことができます。\n\nFAQ：[OpenAPIのデータをPostmanにインポートする](https://the-board.jp/helps/faq_import_openapi_data_to_postman)\n\n## 認証・認可\nboard APIでは、「APIキー」と「APIトークン」の2つの概念があり、リクエストの際に両方をヘッダーに指定する必要があります。\n\n```\nx-api-key: API-KEY\nAuthorization: Bearer API-TOKEN\n```\n\n### APIキー\nアカウントで1つ発行されます。リクエスト制限はこのAPIキー単位で管理されています。\n\n### APIトークン\n複数発行でき、APIトークンごとに利用可能なエンドポイントを指定できますので、用途に合わせて発行してください。\n\nAPIキー（前述の例の`API-KEY`部分）とAPIトークン（前述の例の`API-TOKEN`部分）は、リクエストヘッダーで指定してください。\n\n※セキュリティーのため、トークンごとに可能な操作は最低限必要なもののみに限定することをお勧めします。\n\nAPIキー・APIトークンの発行は「[開発者用API設定](https://the-board.jp/api_settings)」画面で行えます。当画面の詳しい説明は、ヘルプ「[board APIを利用する](https://the-board.jp/helps/help_common_api)」をご覧ください。\n\n## リクエスト制限\n\n**【重要】**2025年7月1日以降、APIリクエスト制限の変更を予定しています。詳しくは[【予告】APIリクエスト制限の引き下げのお知らせ](https://the-board.jp/blogs/news_advanced_notice_of_api_request_limit_reduction/)をご覧ください。</p>\n\nboard APIでは、以下のリクエスト制限があります。制限をオーバーした場合は、`429 Too Many Requests`が返却されます。\n\n- 3000リクエスト / 1日\n- 3リクエスト / 秒　（100バーストまで可能）\n\n1日あたりのリクエスト数のリセットタイミングはJSTではなくUTCですのでご注意ください。\n\n※リクエスト数制限の上限緩和には対応していませんのでご了承ください。\n\n### 秒間リクエスト数について\n秒間リクエスト数は、「トークンバケット」という流入量制御の仕組みになっています。\n\n原則「3リクエスト / 秒」ですが、100リクエストまでは、それをオーバーすることが可能です。\n\nデフォルトで、バケットに100トークンあります。 これは100回までバーストが可能な状態で、バースト（3リクエスト/秒をオーバー）すると、このトークンが消費されます。\n\nトークンが0になると、バーストできなくなり、「3リクエスト / 秒」以上のリクエストは送信できなくなります。\n\n一定期間バーストがなければ、このトークンは最大100まで補充されます。\n\n## データ形式\nリクエストとレスポンスのデータ形式は以下の通りです。なお、データの文字コードはすべてUTF-8です。\n\n### リクエスト\nリクエストのデータ形式は、メソッドによって異なります。\n\nGETリクエストはURLパラメーターで指定します。\n\n```\n/v1/clients?include_archive_flg=1\n```\n\nPOST・PATCHリクエストはリクエストボディーにJSON形式で送信してください。また、リクエストヘッダーに\n\n```\nContent-Type: application/json\n```\n\nを指定してください。\n\nContent-Typeが正しくない場合は、`415 Unsupported Media Type`が返却されます。\n\n### レスポンス\nすべてJSON形式です。\n\n## レスポンスグループ\n案件情報のように項目数が多い場合、すべての項目を返却すると、データ量が多く扱いにくくなってしまいます。\n\nそこで、リクエストパラメーターにレスポンスグループを指定し、取得する項目を絞り込むことができます。\n\n```\n/v1/projects?response_group=medium\n```\n\nなお、すべてのリスト取得APIで利用可能なわけではありませんので、利用可否については、各リスト取得APIの仕様を確認してください。クエリーパラメーターに「response_group」がある場合のみ利用可能です。\n\n**【重要】**レスポンスグループが指定可能なエンドポイントの場合、**デフォルトは「small」で最小限の項目のみ含まれる状態**になっています。一方で、APIドキュメント上では定義を示すためにすべての項目を記載していますのでご注意ください。\n\n参考：FAQ「[APIのレスポンスに含まれる項目がドキュメントに記載のものより少ないです](https://the-board.jp/helps/faq_lack_of_rensponse_fileds)」\n\n## HTTPステータス・エラー\nレスポンス内容に応じて、以下のHTTPステータスを返します。\n\n| ステータス | 内容 |\n|:-----------|:------------|\n| 200\t| OK |\n| 201\t| Created |\n| 204\t| No Content |\n| 400\t| Bad Request |\n| 401\t| Unauthorized |\n| 403\t| Forbidden |\n| 404\t| Not Found |\n| 415\t| Unsupported Media Type |\n| 422\t| Unprocessable Entity |\n| 429\t| Too Many Requests |\n| 500\t| Internal Server Error |\n| 503\t| Service Unavailable |\n\n### 主なエラー原因\nエラーとなるAPIリクエストがあった場合、エラー内容を含むレスポンスを返します。\n\nステータス（例：422）で大まかな原因を把握し、詳細なレスポンスボディの例は各APIのレスポンスセクションをご覧ください。\n\n以下、いくつかの特記事項を記載します。\n\n#### 422エラーの場合\n主に、バリデーションチェックに引っかかったケースです。この場合、レスポンスボディにエラー内容が返却されていますので、その内容をご確認ください。\n\n#### 401・403エラーの場合\n401・403エラーの場合、レスポンス内容によっていくつかの原因が考えられます。\n\n詳しくはboard APIファーストガイドの「[APIキー、APIトークンを指定しているのにエラーになります](https://the-board.jp/helps/help_api_first_guide#%E2%96%A0API%E3%82%AD%E3%83%BC%E3%80%81API%E3%83%88%E3%83%BC%E3%82%AF%E3%83%B3%E3%82%92%E6%8C%87%E5%AE%9A%E3%81%97%E3%81%A6%E3%81%84%E3%82%8B%E3%81%AE%E3%81%AB%E3%82%A8%E3%83%A9%E3%83%BC%E3%81%AB%E3%81%AA%E3%82%8A%E3%81%BE%E3%81%99)」をご覧ください。\n\n#### 500エラーの場合\nFAQ「[APIで500エラーが返ってきて原因がわかりません](https://the-board.jp/helps/faq_api_reason_of_500_error)」をご覧ください。\n\n#### レスポンスが10MBを超えるサイズの場合\nboard APIはAWS API Gatewayを使用しており、その仕様上、10MBを超えるレスポンスを返すことができません。 この上限を超える場合は、500エラーとなり、レスポンスボディには、以下のようにmessageだけが返ります。この場合は、取得対象を絞る等でご対応ください。\n\n```\n{ \"message\": \"Internal server error\" }\n```\n\n### メンテナンス\nメンテナンス時は、503ステータスを返します。レスポンスボディはメンテナンス内容に依存し変わる可能性があるため、ステータスで判別してください。\n\nなお、障害時も503ステータスが返る可能性があります。\n\n## サポート・FAQ\n### ヘルプ・FAQ\nboardのヘルプ・FAQのAPIカテゴリーをご覧ください。\n- [API関連のヘルプ](https://the-board.jp/helps/category/api)\n- [API関連のFAQ](https://the-board.jp/helps/category/faq_api)\n\n### お問い合わせ\nAPIに関するお問い合わせも、通常のサポート窓口で承っております。\n\n[お問い合わせ方法について](https://the-board.jp/helps/help_how_to_contact)\n\n\n### APIに関するお問い合わせのお願い・注意事項\n- APIの仕様に関するご質問には対応可能ですが、APIを使った実装に関する技術的なサポートは提供しておりません。具体的な実装・書き方や特定のツールに関するご質問や確認依頼には対応できませんので、ご了承ください。\n- APIにおいても、基本的な仕様は画面から操作する場合と同様です。APIドキュメントには機能的な仕様は記載されていないため、これについては[boardのヘルプ](https://the-board.jp/helps)をご覧ください。\n- 具体的なリクエスト内容と合わせてお問い合わせいただくとスムーズです。ただし、その際、APIトークン・APIキーは含めないようにお願いいたします。\n",
    "x-logo": {
      "url": "https://cdn.the-board.jp/images/blog/cc78116ff821af265616.svg",
      "altText": "boardロゴ",
      "href": "/"
    }
  },
  "servers": [
    {
      "url": "https://api.the-board.jp/v1"
    }
  ],
  "tags": [
    {
      "name": "client",
      "x-displayName": "顧客",
      "description": "顧客情報を扱うAPIです。"
    },
    {
      "name": "client_branch",
      "x-displayName": "顧客支社",
      "description": "顧客支社情報を扱うAPIです。"
    },
    {
      "name": "contact",
      "x-displayName": "顧客担当者",
      "description": "顧客担当者情報を扱うAPIです。"
    },
    {
      "name": "project",
      "x-displayName": "案件",
      "description": "案件情報を扱うAPIです。"
    },
    {
      "name": "project_cost",
      "x-displayName": "案件原価",
      "description": "案件原価情報を扱うAPIです。"
    },
    {
      "name": "invoice",
      "x-displayName": "請求",
      "description": "請求情報を扱うAPIです。"
    },
    {
      "name": "project_document",
      "x-displayName": "書類（案件）",
      "description": "案件の書類を扱うAPIです。"
    },
    {
      "name": "payee",
      "x-displayName": "発注先",
      "description": "発注先情報を扱うAPIです。"
    },
    {
      "name": "payee_branch",
      "x-displayName": "発注先支社",
      "description": "発注先支社情報を扱うAPIです。"
    },
    {
      "name": "payee_contact",
      "x-displayName": "発注先担当者",
      "description": "発注先担当者情報を扱うAPIです。"
    },
    {
      "name": "expenditure",
      "x-displayName": "発注",
      "description": "発注情報を扱うAPIです。"
    },
    {
      "name": "expenditure_payment",
      "x-displayName": "支払",
      "description": "支払情報を扱うAPIです。"
    },
    {
      "name": "expenditure_document",
      "x-displayName": "書類（発注）",
      "description": "発注の書類を扱うAPIです。"
    },
    {
      "name": "analysis",
      "x-displayName": "計上データ",
      "description": "計上データを扱うAPIです。"
    },
    {
      "name": "user",
      "x-displayName": "ユーザー（担当者）",
      "description": "ユーザー（担当者）を扱うAPIです。"
    },
    {
      "name": "group",
      "x-displayName": "グループ",
      "description": "グループを扱うAPIです。"
    },
    {
      "name": "payment_term",
      "x-displayName": "支払条件",
      "description": "支払条件を扱うAPIです。"
    },
    {
      "name": "project_type",
      "x-displayName": "案件区分",
      "description": "案件区分を扱うAPIです。"
    },
    {
      "name": "expenditure_type",
      "x-displayName": "発注区分",
      "description": "発注区分を扱うAPIです。"
    },
    {
      "name": "accounting_type",
      "x-displayName": "会計区分",
      "description": "会計区分を扱うAPIです。"
    },
    {
      "name": "document_send_channel",
      "x-displayName": "カスタム書類送付方法",
      "description": "カスタム書類送付方法を扱うAPIです。"
    }
  ],
  "paths": {
    "/clients": {
      "get": {
        "tags": [
          "client"
        ],
        "summary": "顧客リスト取得",
        "description": "顧客リストを取得します。",
        "operationId": "getClients",
        "security": [
          {
            "api_token": [],
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "tags[]",
            "in": "query",
            "description": "タグ（複数の場合はカンマ区切り）\n\n※例にはURLエンコード前の値が記載されていますが、送信する際はURLエンコードしてください。\n",
            "schema": {
              "type": "string",
              "example": "サンプルタグA,サンプルタグB"
            }
          },
          {
            "name": "include_archive_flg",
            "in": "query",
            "description": "アーカイブを含むか\n\n- 0：アーカイブ済みは除く\n- 1：アーカイブ済みも含む\n",
            "schema": {
              "type": "integer",
              "default": 0,
              "example": 1,
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "updated_at_gteq",
            "in": "query",
            "description": "更新日時（指定日時以降）\n\n※例にはURLエンコード前の値が記載されていますが、送信する際はURLエンコードしてください。\n",
            "schema": {
              "type": "string",
              "format": "YYYY-MM-DD HH:MM:SS",
              "example": "2023-08-01 00:00:00"
            }
          },
          {
            "name": "updated_at_lteq",
            "in": "query",
            "description": "更新日時（指定日時以前）\n\n※例にはURLエンコード前の値が記載されていますが、送信する際はURLエンコードしてください。\n",
            "schema": {
              "type": "string",
              "format": "YYYY-MM-DD HH:MM:SS",
              "example": "2023-08-01 00:00:00"
            }
          },
          {
            "name": "custom_no_eq",
            "in": "query",
            "description": "顧客番号",
            "schema": {
              "type": "string",
              "example": "12345"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "1ページあたりの要素数（最大100まで）",
            "schema": {
              "type": "integer",
              "default": 10,
              "example": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "現在のページ番号",
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 2
            }
          },
          {
            "name": "response_group",
            "in": "query",
            "description": "レスポンスグループ\n\n| response_group | 項目 |\n|:-----------|:------------|\n| small | id, name, name_disp, title, zip, pref, address1, address2, tel, fax, payment_term_id, payment_term_name, company_number, invoice_system_number, invoice_system_number_validated, invoice_system_issuer_type, invoice_system_issuer_type_name, created_at, updated_at |\n| large | すべての項目 |\n",
            "schema": {
              "type": "string",
              "default": "small",
              "example": "large",
              "enum": [
                "small",
                "large"
              ],
              "externalDocs": {
                "description": "※レスポンスグループについて",
                "url": "#section/レスポンスグループ"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {
              "X-Total-Count": {
                "description": "トータル件数",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-Page": {
                "description": "現在のページ番号",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "X-Per-Page": {
                "description": "1ページあたりの件数",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "description": "顧客関連の定義情報"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "顧客ID",
                            "type": "integer",
                            "format": "int32",
                            "example": 123456,
                            "readOnly": true
                          },
                          "name": {
                            "type": "string",
                            "description": "顧客名",
                            "maxLength": 100,
                            "example": "サンプル株式会社"
                          },
                          "name_disp": {
                            "type": "string",
                            "description": "顧客略称名",
                            "maxLength": 50,
                            "example": "サンプル"
                          }
                        }
                      },
                      {
                        "properties": {
                          "zip": {
                            "type": "string",
                            "description": "郵便番号（ハイフン区切り）",
                            "maxLength": 8,
                            "example": "100-0001"
                          },
                          "pref": {
                            "type": "string",
                            "description": "都道府県",
                            "example": "東京都"
                          },
                          "address1": {
                            "type": "string",
                            "description": "市区町村・番地",
                            "maxLength": 100,
                            "example": "千代田区千代田111"
                          },
                          "address2": {
                            "type": "string",
                            "description": "建物名",
                            "maxLength": 100,
                            "example": "サンプルビル3階"
                          },
                          "tel": {
                            "type": "string",
                            "description": "TEL（ハイフン区切り）",
                            "maxLength": 15,
                            "example": "03-0000-0000"
                          },
                          "fax": {
                            "type": "string",
                            "description": "FAX（ハイフン区切り）",
                            "maxLength": 15,
                            "example": "03-0000-0000"
                          }
                        }
                      },
                      {
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "敬称",
                            "maxLength": 50,
                            "default": "御中",
                            "example": "御中"
                          },
                          "payment_term_id": {
                            "description": "デフォルト支払条件ID\n\n- 新規登録時に未指定の場合は最初の支払条件が使用されます\n- [支払条件リスト取得API](#tag/payment_term/operation/getPaymentTerms)のレスポンスにある`id`です\n",
                            "type": "integer",
                            "format": "int32",
                            "example": 123456
                          },
                          "payment_term_name": {
                            "type": "string",
                            "description": "デフォルト支払条件名",
                            "maxLength": 100,
                            "example": "月末締め翌月末払い",
                            "readOnly": true
                          },
                          "nda_flg": {
                            "description": "NDA締結\n\n- 0：未\n- 1：済\n",
                            "type": "integer",
                            "format": "int32",
                            "default": 0,
                            "example": 0,
                            "enum": [
                              0,
                              1
                            ]
                          },
                          "basic_agreement_flg": {
                            "description": "基本契約書締結\n\n- 0：未\n- 1：済\n",
                            "type": "integer",
                            "format": "int32",
                            "default": 0,
                            "example": 0,
                            "enum": [
                              0,
                              1
                            ]
                          },
                          "document_send_type": {
                            "description": "書類送付方法\n\n- 1：メール(DL)\n- 2：郵送\n- 3：メール(DL)+郵送\n- 4：メール(添付)\n- 5：メール(添付)+郵送\n- または[カスタム書類送付方法](#tag/document_send_channel/operation/getDocumentSendChannels)のID\n",
                            "type": "integer",
                            "format": "int32",
                            "default": 1,
                            "example": 1
                          },
                          "document_send_type_name": {
                            "type": "string",
                            "description": "書類送付方法名",
                            "example": "メール(DL)",
                            "readOnly": true
                          },
                          "note": {
                            "type": "string",
                            "description": "備考",
                            "maxLength": 1000,
                            "example": "備考サンプルです"
                          },
                          "tags": {
                            "type": "array",
                            "description": "タグ\n\n※タグ名の配列\n",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "タグA",
                              "タグB"
                            ]
                          },
                          "wareki_flg": {
                            "description": "デフォルト和暦表示\n\n- 0：西暦\n- 1：和暦\n\n※「和暦表示」機能有効時のみ\n",
                            "type": "integer",
                            "format": "int32",
                            "default": 0,
                            "example": 0,
                            "enum": [
                              0,
                              1
                            ]
                          },
                          "company_number": {
                            "type": "string",
                            "description": "法人番号",
                            "minLength": 13,
                            "maxLength": 13,
                            "example": "1234567890123"
                          },
                          "accounting_code": {
                            "type": "string",
                            "description": "会計用名称・コード\n\n※「会計連携機能」機能有効時のみ\n",
                            "maxLength": 100,
                            "example": "サンプル（株）"
                          },
                          "to": {
                            "type": "string",
                            "description": "TO（メールアドレス）\n\n※複数指定する場合はカンマ区切り\n",
                            "maxLength": 1000,
                            "example": "test@example.com"
                          },
                          "cc": {
                            "type": "string",
                            "description": "CC（メールアドレス）\n\n※複数指定する場合はカンマ区切り\n",
                            "maxLength": 1000,
                            "example": "test@example.com"
                          },
                          "invoice_system_number": {
                            "type": "string",
                            "description": "適格請求書発行事業者の登録番号",
                            "minLength": 14,
                            "maxLength": 14,
                            "example": "T1234567890123"
                          },
                          "invoice_system_number_validated": {
                            "type": "boolean",
                            "description": "登録番号のチェック状況",
                            "example": true,
                            "readOnly": true
                          },
                          "invoice_system_issuer_type": {
                            "description": "適格請求書発行事業者\n\n- 0：未設定\n- 1：該当する\n- 2：該当しない\n",
                            "type": "integer",
                            "format": "int32",
                            "default": 0,
                            "example": 0,
                            "enum": [
                              0,
                              1,
                              2
                            ]
                          },
                          "invoice_system_issuer_type_name": {
                            "type": "string",
                            "description": "適格請求書発行事業者の名称",
                            "example": "未設定",
                            "readOnly": true
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "bank_charge_to_client_flg": {
                            "description": "振込手数料負担\n\n- 0：当方\n- 1：先方\n",
                            "type": "integer",
                            "format": "int32",
                            "default": 1,
                            "example": 1,
                            "enum": [
                              0,
                              1
                            ]
                          },
                          "custom_no": {
                            "type": "string",
                            "description": "顧客番号",
                            "maxLength": 100,
                            "example": "C0001"
                          },
                          "company_bank_id": {
                            "description": "デフォルト振込口座ID\n\n※このIDを取得するAPIはありません。画面上の「組織設定→振込口座管理」で対象の「編集」に行き、そのURLに含まれるIDを使用してください。例：`https://the-board.jp/company_banks/123456/edit` → 123456\n",
                            "type": "integer",
                            "format": "int32",
                            "example": 123456
                          },
                          "company_bank_name": {
                            "type": "string",
                            "description": "デフォルト振込口座（銀行名 支店名）",
                            "maxLength": 100,
                            "example": "サンプル銀行 サンプル支店",
                            "readOnly": true
                          },
                          "name_en": {
                            "type": "string",
                            "description": "顧客名（英語表記）\n\n※英語アドオン有効時のみ\n",
                            "maxLength": 100,
                            "example": "Sample, inc"
                          }
                        }
                      },
                      {
                        "properties": {
                          "address_en": {
                            "type": "string",
                            "description": "住所（英語表記）\n\n※英語アドオン有効時のみ\n",
                            "maxLength": 500,
                            "example": "111 Chiyoda, Chiyoda, Tokyo 100-0001, Japan"
                          },
                          "phone_country_code": {
                            "type": "string",
                            "description": "国番号（英語表記）\n\n※英語アドオン有効時のみ\n",
                            "maxLength": 10,
                            "example": "81"
                          },
                          "currency": {
                            "type": "string",
                            "description": "デフォルト通貨\n\n※英語アドオン有効時のみ\n",
                            "maxLength": 3,
                            "default": "JPY",
                            "example": "USD",
                            "enum": [
                              "JPY",
                              "USD",
                              "EUR",
                              "GBP",
                              "CNY",
                              "HKD",
                              "TWD",
                              "KRW",
                              "SGD",
                              "AUD",
                              "IDR",
                              "THB",
                              "CAD"
                            ]
                          },
                          "lang_kbn": {
                            "description": "デフォルト言語\n\n- 1：日本語\n- 2：英語\n\n※英語アドオン有効時のみ\n",
                            "type": "integer",
                            "format": "int32",
                            "default": 1,
                            "example": 1,
                            "enum": [
                              1,
                              2
                            ]
                          },
                          "lang_kbn_name": {
                            "type": "string",
                            "description": "デフォルト言語の名称\n\n※英語アドオン有効時のみ\n",
                            "example": "日本語",
                            "readOnly": true
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "archive_flg": {
                            "description": "アーカイブ状態\n\n- 0：未アーカイブ\n- 1：アーカイブ済み\n",
                            "type": "integer",
                            "format": "int32",
                            "default": 0,
                            "example": 0,
                            "enum": [
                              0,
                              1
                            ]
                          },
                          "created_at": {
                            "type": "string",
                            "description": "登録日時",
                            "example": "2023-08-02T16:27:35.000+09:00",
                            "readOnly": true
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "更新日時",
                            "example": "2023-08-04T11:03:15.000+09:00",
                            "readOnly": true
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "APIキーまたはAPIトークンが無効です。"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "許可されていません。"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl --location 'https://api.the-board.jp/v1/clients' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Bearer API-TOKEN' \\\n--header 'x-api-key: API-KEY'"
          }
        ]
      },
      "post": {
        "tags": [
          "client"
        ],
        "summary": "顧客登録",
        "description": "顧客を新規登録します。",
        "operationId": "postClient",
        "security": [
          {
            "api_token": [],
            "api_key": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name",
                  "name_disp"
                ],
                "allOf": [
                  {
                    "description": "顧客関連の定義情報"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "顧客ID",
                        "type": "integer",
                        "format": "int32",
                        "example": 123456,
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "description": "顧客名",
                        "maxLength": 100,
                        "example": "サンプル株式会社"
                      },
                      "name_disp": {
                        "type": "string",
                        "description": "顧客略称名",
                        "maxLength": 50,
                        "example": "サンプル"
                      }
                    }
                  },
                  {
                    "properties": {
                      "zip": {
                        "type": "string",
                        "description": "郵便番号（ハイフン区切り）",
                        "maxLength": 8,
                        "example": "100-0001"
                      },
                      "pref": {
                        "type": "string",
                        "description": "都道府県",
                        "example": "東京都"
                      },
                      "address1": {
                        "type": "string",
                        "description": "市区町村・番地",
                        "maxLength": 100,
                        "example": "千代田区千代田111"
                      },
                      "address2": {
                        "type": "string",
                        "description": "建物名",
                        "maxLength": 100,
                        "example": "サンプルビル3階"
                      },
                      "tel": {
                        "type": "string",
                        "description": "TEL（ハイフン区切り）",
                        "maxLength": 15,
                        "example": "03-0000-0000"
                      },
                      "fax": {
                        "type": "string",
                        "description": "FAX（ハイフン区切り）",
                        "maxLength": 15,
                        "example": "03-0000-0000"
                      }
                    }
                  },
                  {
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "敬称",
                        "maxLength": 50,
                        "default": "御中",
                        "example": "御中"
                      },
                      "payment_term_id": {
                        "description": "デフォルト支払条件ID\n\n- 新規登録時に未指定の場合は最初の支払条件が使用されます\n- [支払条件リスト取得API](#tag/payment_term/operation/getPaymentTerms)のレスポンスにある`id`です\n",
                        "type": "integer",
                        "format": "int32",
                        "example": 123456
                      },
                      "payment_term_name": {
                        "type": "string",
                        "description": "デフォルト支払条件名",
                        "maxLength": 100,
                        "example": "月末締め翌月末払い",
                        "readOnly": true
                      },
                      "nda_flg": {
                        "description": "NDA締結\n\n- 0：未\n- 1：済\n",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "example": 0,
                        "enum": [
                          0,
                          1
                        ]
                      },
                      "basic_agreement_flg": {
                        "description": "基本契約書締結\n\n- 0：未\n- 1：済\n",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "example": 0,
                        "enum": [
                          0,
                          1
                        ]
                      },
                      "document_send_type": {
                        "description": "書類送付方法\n\n- 1：メール(DL)\n- 2：郵送\n- 3：メール(DL)+郵送\n- 4：メール(添付)\n- 5：メール(添付)+郵送\n- または[カスタム書類送付方法](#tag/document_send_channel/operation/getDocumentSendChannels)のID\n",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "example": 1
                      },
                      "document_send_type_name": {
                        "type": "string",
                        "description": "書類送付方法名",
                        "example": "メール(DL)",
                        "readOnly": true
                      },
                      "note": {
                        "type": "string",
                        "description": "備考",
                        "maxLength": 1000,
                        "example": "備考サンプルです"
                      },
                      "tags": {
                        "type": "array",
                        "description": "タグ\n\n※タグ名の配列\n",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "タグA",
                          "タグB"
                        ]
                      },
                      "wareki_flg": {
                        "description": "デフォルト和暦表示\n\n- 0：西暦\n- 1：和暦\n\n※「和暦表示」機能有効時のみ\n",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "example": 0,
                        "enum": [
                          0,
                          1
                        ]
                      },
                      "company_number": {
                        "type": "string",
                        "description": "法人番号",
                        "minLength": 13,
                        "maxLength": 13,
                        "example": "1234567890123"
                      },
                      "accounting_code": {
                        "type": "string",
                        "description": "会計用名称・コード\n\n※「会計連携機能」機能有効時のみ\n",
                        "maxLength": 100,
                        "example": "サンプル（株）"
                      },
                      "to": {
                        "type": "string",
                        "description": "TO（メールアドレス）\n\n※複数指定する場合はカンマ区切り\n",
                        "maxLength": 1000,
                        "example": "test@example.com"
                      },
                      "cc": {
                        "type": "string",
                        "description": "CC（メールアドレス）\n\n※複数指定する場合はカンマ区切り\n",
                        "maxLength": 1000,
                        "example": "test@example.com"
                      },
                      "invoice_system_number": {
                        "type": "string",
                        "description": "適格請求書発行事業者の登録番号",
                        "minLength": 14,
                        "maxLength": 14,
                        "example": "T1234567890123"
                      },
                      "invoice_system_number_validated": {
                        "type": "boolean",
                        "description": "登録番号のチェック状況",
                        "example": true,
                        "readOnly": true
                      },
                      "invoice_system_issuer_type": {
                        "description": "適格請求書発行事業者\n\n- 0：未設定\n- 1：該当する\n- 2：該当しない\n",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "example": 0,
                        "enum": [
                          0,
                          1,
                          2
                        ]
                      },
                      "invoice_system_issuer_type_name": {
                        "type": "string",
                        "description": "適格請求書発行事業者の名称",
                        "example": "未設定",
                        "readOnly": true
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "bank_charge_to_client_flg": {
                        "description": "振込手数料負担\n\n- 0：当方\n- 1：先方\n",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "example": 1,
                        "enum": [
                          0,
                          1
                        ]
                      },
                      "custom_no": {
                        "type": "string",
                        "description": "顧客番号",
                        "maxLength": 100,
                        "example": "C0001"
                      },
                      "company_bank_id": {
                        "description": "デフォルト振込口座ID\n\n※このIDを取得するAPIはありません。画面上の「組織設定→振込口座管理」で対象の「編集」に行き、そのURLに含まれるIDを使用してください。例：`https://the-board.jp/company_banks/123456/edit` → 123456\n",
                        "type": "integer",
                        "format": "int32",
                        "example": 123456
                      },
                      "company_bank_name": {
                        "type": "string",
                        "description": "デフォルト振込口座（銀行名 支店名）",
                        "maxLength": 100,
                        "example": "サンプル銀行 サンプル支店",
                        "readOnly": true
                      },
                      "name_en": {
                        "type": "string",
                        "description": "顧客名（英語表記）\n\n※英語アドオン有効時のみ\n",
                        "maxLength": 100,
                        "example": "Sample, inc"
                      }
                    }
                  },
                  {
                    "properties": {
                      "address_en": {
                        "type": "string",
                        "description": "住所（英語表記）\n\n※英語アドオン有効時のみ\n",
                        "maxLength": 500,
                        "example": "111 Chiyoda, Chiyoda, Tokyo 100-0001, Japan"
                      },
                      "phone_country_code": {
                        "type": "string",
                        "description": "国番号（英語表記）\n\n※英語アドオン有効時のみ\n",
                        "maxLength": 10,
                        "example": "81"
                      },
                      "currency": {
                        "type": "string",
                        "description": "デフォルト通貨\n\n※英語アドオン有効時のみ\n",
                        "maxLength": 3,
                        "default": "JPY",
                        "example": "USD",
                        "enum": [
                          "JPY",
                          "USD",
                          "EUR",
                          "GBP",
                          "CNY",
                          "HKD",
                          "TWD",
                          "KRW",
                          "SGD",
                          "AUD",
                          "IDR",
                          "THB",
                          "CAD"
                        ]
                      },
                      "lang_kbn": {
                        "description": "デフォルト言語\n\n- 1：日本語\n- 2：英語\n\n※英語アドオン有効時のみ\n",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "example": 1,
                        "enum": [
                          1,
                          2
                        ]
                      },
                      "lang_kbn_name": {
                        "type": "string",
                        "description": "デフォルト言語の名称\n\n※英語アドオン有効時のみ\n",
                        "example": "日本語",
                        "readOnly": true
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "archive_flg": {
                        "description": "アーカイブ状態\n\n- 0：未アーカイブ\n- 1：アーカイブ済み\n",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "example": 0,
                        "enum": [
                          0,
                          1
                        ]
                      },
                      "created_at": {
                        "type": "string",
                        "description": "登録日時",
                        "example": "2023-08-02T16:27:35.000+09:00",
                        "readOnly": true
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "更新日時",
                        "example": "2023-08-04T11:03:15.000+09:00",
                        "readOnly": true
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "登録成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "顧客関連の定義情報"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "顧客ID",
                          "type": "integer",
                          "format": "int32",
                          "example": 123456,
                          "readOnly": true
                        },
                        "name": {
                          "type": "string",
                          "description": "顧客名",
                          "maxLength": 100,
                          "example": "サンプル株式会社"
                        },
                        "name_disp": {
                          "type": "string",
                          "description": "顧客略称名",
                          "maxLength": 50,
                          "example": "サンプル"
                        }
                      }
                    },
                    {
                      "properties": {
                        "zip": {
                          "type": "string",
                          "description": "郵便番号（ハイフン区切り）",
                          "maxLength": 8,
                          "example": "100-0001"
                        },
                        "pref": {
                          "type": "string",
                          "description": "都道府県",
                          "example": "東京都"
                        },
                        "address1": {
                          "type": "string",
                          "description": "市区町村・番地",
                          "maxLength": 100,
                          "example": "千代田区千代田111"
                        },
                        "address2": {
                          "type": "string",
                          "description": "建物名",
                          "maxLength": 100,
                          "example": "サンプルビル3階"
                        },
                        "tel": {
                          "type": "string",
                          "description": "TEL（ハイフン区切り）",
                          "maxLength": 15,
                          "example": "03-0000-0000"
                        },
                        "fax": {
                          "type": "string",
                          "description": "FAX（ハイフン区切り）",
                          "maxLength": 15,
                          "example": "03-0000-0000"
                        }
                      }
                    },
                    {
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "敬称",
                          "maxLength": 50,
                          "default": "御中",
                          "example": "御中"
                        },
                        "payment_term_id": {
                          "description": "デフォルト支払条件ID\n\n- 新規登録時に未指定の場合は最初の支払条件が使用されます\n- [支払条件リスト取得API](#tag/payment_term/operation/getPaymentTerms)のレスポンスにある`id`です\n",
                          "type": "integer",
                          "format": "int32",
                          "example": 123456
                        },
                        "payment_term_name": {
                          "type": "string",
                          "description": "デフォルト支払条件名",
                          "maxLength": 100,
                          "example": "月末締め翌月末払い",
                          "readOnly": true
                        },
                        "nda_flg": {
                          "description": "NDA締結\n\n- 0：未\n- 1：済\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 0,
                          "example": 0,
                          "enum": [
                            0,
                            1
                          ]
                        },
                        "basic_agreement_flg": {
                          "description": "基本契約書締結\n\n- 0：未\n- 1：済\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 0,
                          "example": 0,
                          "enum": [
                            0,
                            1
                          ]
                        },
                        "document_send_type": {
                          "description": "書類送付方法\n\n- 1：メール(DL)\n- 2：郵送\n- 3：メール(DL)+郵送\n- 4：メール(添付)\n- 5：メール(添付)+郵送\n- または[カスタム書類送付方法](#tag/document_send_channel/operation/getDocumentSendChannels)のID\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 1,
                          "example": 1
                        },
                        "document_send_type_name": {
                          "type": "string",
                          "description": "書類送付方法名",
                          "example": "メール(DL)",
                          "readOnly": true
                        },
                        "note": {
                          "type": "string",
                          "description": "備考",
                          "maxLength": 1000,
                          "example": "備考サンプルです"
                        },
                        "tags": {
                          "type": "array",
                          "description": "タグ\n\n※タグ名の配列\n",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "タグA",
                            "タグB"
                          ]
                        },
                        "wareki_flg": {
                          "description": "デフォルト和暦表示\n\n- 0：西暦\n- 1：和暦\n\n※「和暦表示」機能有効時のみ\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 0,
                          "example": 0,
                          "enum": [
                            0,
                            1
                          ]
                        },
                        "company_number": {
                          "type": "string",
                          "description": "法人番号",
                          "minLength": 13,
                          "maxLength": 13,
                          "example": "1234567890123"
                        },
                        "accounting_code": {
                          "type": "string",
                          "description": "会計用名称・コード\n\n※「会計連携機能」機能有効時のみ\n",
                          "maxLength": 100,
                          "example": "サンプル（株）"
                        },
                        "to": {
                          "type": "string",
                          "description": "TO（メールアドレス）\n\n※複数指定する場合はカンマ区切り\n",
                          "maxLength": 1000,
                          "example": "test@example.com"
                        },
                        "cc": {
                          "type": "string",
                          "description": "CC（メールアドレス）\n\n※複数指定する場合はカンマ区切り\n",
                          "maxLength": 1000,
                          "example": "test@example.com"
                        },
                        "invoice_system_number": {
                          "type": "string",
                          "description": "適格請求書発行事業者の登録番号",
                          "minLength": 14,
                          "maxLength": 14,
                          "example": "T1234567890123"
                        },
                        "invoice_system_number_validated": {
                          "type": "boolean",
                          "description": "登録番号のチェック状況",
                          "example": true,
                          "readOnly": true
                        },
                        "invoice_system_issuer_type": {
                          "description": "適格請求書発行事業者\n\n- 0：未設定\n- 1：該当する\n- 2：該当しない\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 0,
                          "example": 0,
                          "enum": [
                            0,
                            1,
                            2
                          ]
                        },
                        "invoice_system_issuer_type_name": {
                          "type": "string",
                          "description": "適格請求書発行事業者の名称",
                          "example": "未設定",
                          "readOnly": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "bank_charge_to_client_flg": {
                          "description": "振込手数料負担\n\n- 0：当方\n- 1：先方\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 1,
                          "example": 1,
                          "enum": [
                            0,
                            1
                          ]
                        },
                        "custom_no": {
                          "type": "string",
                          "description": "顧客番号",
                          "maxLength": 100,
                          "example": "C0001"
                        },
                        "company_bank_id": {
                          "description": "デフォルト振込口座ID\n\n※このIDを取得するAPIはありません。画面上の「組織設定→振込口座管理」で対象の「編集」に行き、そのURLに含まれるIDを使用してください。例：`https://the-board.jp/company_banks/123456/edit` → 123456\n",
                          "type": "integer",
                          "format": "int32",
                          "example": 123456
                        },
                        "company_bank_name": {
                          "type": "string",
                          "description": "デフォルト振込口座（銀行名 支店名）",
                          "maxLength": 100,
                          "example": "サンプル銀行 サンプル支店",
                          "readOnly": true
                        },
                        "name_en": {
                          "type": "string",
                          "description": "顧客名（英語表記）\n\n※英語アドオン有効時のみ\n",
                          "maxLength": 100,
                          "example": "Sample, inc"
                        }
                      }
                    },
                    {
                      "properties": {
                        "address_en": {
                          "type": "string",
                          "description": "住所（英語表記）\n\n※英語アドオン有効時のみ\n",
                          "maxLength": 500,
                          "example": "111 Chiyoda, Chiyoda, Tokyo 100-0001, Japan"
                        },
                        "phone_country_code": {
                          "type": "string",
                          "description": "国番号（英語表記）\n\n※英語アドオン有効時のみ\n",
                          "maxLength": 10,
                          "example": "81"
                        },
                        "currency": {
                          "type": "string",
                          "description": "デフォルト通貨\n\n※英語アドオン有効時のみ\n",
                          "maxLength": 3,
                          "default": "JPY",
                          "example": "USD",
                          "enum": [
                            "JPY",
                            "USD",
                            "EUR",
                            "GBP",
                            "CNY",
                            "HKD",
                            "TWD",
                            "KRW",
                            "SGD",
                            "AUD",
                            "IDR",
                            "THB",
                            "CAD"
                          ]
                        },
                        "lang_kbn": {
                          "description": "デフォルト言語\n\n- 1：日本語\n- 2：英語\n\n※英語アドオン有効時のみ\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 1,
                          "example": 1,
                          "enum": [
                            1,
                            2
                          ]
                        },
                        "lang_kbn_name": {
                          "type": "string",
                          "description": "デフォルト言語の名称\n\n※英語アドオン有効時のみ\n",
                          "example": "日本語",
                          "readOnly": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "archive_flg": {
                          "description": "アーカイブ状態\n\n- 0：未アーカイブ\n- 1：アーカイブ済み\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 0,
                          "example": 0,
                          "enum": [
                            0,
                            1
                          ]
                        },
                        "created_at": {
                          "type": "string",
                          "description": "登録日時",
                          "example": "2023-08-02T16:27:35.000+09:00",
                          "readOnly": true
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "更新日時",
                          "example": "2023-08-04T11:03:15.000+09:00",
                          "readOnly": true
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "APIキーまたはAPIトークンが無効です。"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "許可されていません。"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "バリデーションエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "パラメータが正しくありません。"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string",
                            "example": "sample_field"
                          },
                          "code": {
                            "type": "string",
                            "example": "blank"
                          },
                          "description": {
                            "type": "string",
                            "example": "サンプル項目を入力してください。"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl --location 'https://api.the-board.jp/v1/clients' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Bearer API-TOKEN' \\\n--header 'x-api-key: API-KEY' \\\n--data '{\n  \"name\": \"サンプル株式会社\",\n  \"name_disp\": \"サンプル\"\n}'"
          }
        ]
      }
    },
    "/clients/{id}": {
      "patch": {
        "tags": [
          "client"
        ],
        "summary": "顧客更新",
        "description": "ID指定で顧客を更新します。",
        "operationId": "patchClient",
        "security": [
          {
            "api_token": [],
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "顧客ID\n\n※[顧客登録API](#tag/client/operation/postClient)・[顧客リスト取得API](#tag/client/operation/getClients)のレスポンスにある`id`\n",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "description": "顧客関連の定義情報"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "顧客ID",
                        "type": "integer",
                        "format": "int32",
                        "example": 123456,
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "description": "顧客名",
                        "maxLength": 100,
                        "example": "サンプル株式会社"
                      },
                      "name_disp": {
                        "type": "string",
                        "description": "顧客略称名",
                        "maxLength": 50,
                        "example": "サンプル"
                      }
                    }
                  },
                  {
                    "properties": {
                      "zip": {
                        "type": "string",
                        "description": "郵便番号（ハイフン区切り）",
                        "maxLength": 8,
                        "example": "100-0001"
                      },
                      "pref": {
                        "type": "string",
                        "description": "都道府県",
                        "example": "東京都"
                      },
                      "address1": {
                        "type": "string",
                        "description": "市区町村・番地",
                        "maxLength": 100,
                        "example": "千代田区千代田111"
                      },
                      "address2": {
                        "type": "string",
                        "description": "建物名",
                        "maxLength": 100,
                        "example": "サンプルビル3階"
                      },
                      "tel": {
                        "type": "string",
                        "description": "TEL（ハイフン区切り）",
                        "maxLength": 15,
                        "example": "03-0000-0000"
                      },
                      "fax": {
                        "type": "string",
                        "description": "FAX（ハイフン区切り）",
                        "maxLength": 15,
                        "example": "03-0000-0000"
                      }
                    }
                  },
                  {
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "敬称",
                        "maxLength": 50,
                        "default": "御中",
                        "example": "御中"
                      },
                      "payment_term_id": {
                        "description": "デフォルト支払条件ID\n\n- 新規登録時に未指定の場合は最初の支払条件が使用されます\n- [支払条件リスト取得API](#tag/payment_term/operation/getPaymentTerms)のレスポンスにある`id`です\n",
                        "type": "integer",
                        "format": "int32",
                        "example": 123456
                      },
                      "payment_term_name": {
                        "type": "string",
                        "description": "デフォルト支払条件名",
                        "maxLength": 100,
                        "example": "月末締め翌月末払い",
                        "readOnly": true
                      },
                      "nda_flg": {
                        "description": "NDA締結\n\n- 0：未\n- 1：済\n",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "example": 0,
                        "enum": [
                          0,
                          1
                        ]
                      },
                      "basic_agreement_flg": {
                        "description": "基本契約書締結\n\n- 0：未\n- 1：済\n",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "example": 0,
                        "enum": [
                          0,
                          1
                        ]
                      },
                      "document_send_type": {
                        "description": "書類送付方法\n\n- 1：メール(DL)\n- 2：郵送\n- 3：メール(DL)+郵送\n- 4：メール(添付)\n- 5：メール(添付)+郵送\n- または[カスタム書類送付方法](#tag/document_send_channel/operation/getDocumentSendChannels)のID\n",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "example": 1
                      },
                      "document_send_type_name": {
                        "type": "string",
                        "description": "書類送付方法名",
                        "example": "メール(DL)",
                        "readOnly": true
                      },
                      "note": {
                        "type": "string",
                        "description": "備考",
                        "maxLength": 1000,
                        "example": "備考サンプルです"
                      },
                      "tags": {
                        "type": "array",
                        "description": "タグ\n\n※タグ名の配列\n",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "タグA",
                          "タグB"
                        ]
                      },
                      "wareki_flg": {
                        "description": "デフォルト和暦表示\n\n- 0：西暦\n- 1：和暦\n\n※「和暦表示」機能有効時のみ\n",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "example": 0,
                        "enum": [
                          0,
                          1
                        ]
                      },
                      "company_number": {
                        "type": "string",
                        "description": "法人番号",
                        "minLength": 13,
                        "maxLength": 13,
                        "example": "1234567890123"
                      },
                      "accounting_code": {
                        "type": "string",
                        "description": "会計用名称・コード\n\n※「会計連携機能」機能有効時のみ\n",
                        "maxLength": 100,
                        "example": "サンプル（株）"
                      },
                      "to": {
                        "type": "string",
                        "description": "TO（メールアドレス）\n\n※複数指定する場合はカンマ区切り\n",
                        "maxLength": 1000,
                        "example": "test@example.com"
                      },
                      "cc": {
                        "type": "string",
                        "description": "CC（メールアドレス）\n\n※複数指定する場合はカンマ区切り\n",
                        "maxLength": 1000,
                        "example": "test@example.com"
                      },
                      "invoice_system_number": {
                        "type": "string",
                        "description": "適格請求書発行事業者の登録番号",
                        "minLength": 14,
                        "maxLength": 14,
                        "example": "T1234567890123"
                      },
                      "invoice_system_number_validated": {
                        "type": "boolean",
                        "description": "登録番号のチェック状況",
                        "example": true,
                        "readOnly": true
                      },
                      "invoice_system_issuer_type": {
                        "description": "適格請求書発行事業者\n\n- 0：未設定\n- 1：該当する\n- 2：該当しない\n",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "example": 0,
                        "enum": [
                          0,
                          1,
                          2
                        ]
                      },
                      "invoice_system_issuer_type_name": {
                        "type": "string",
                        "description": "適格請求書発行事業者の名称",
                        "example": "未設定",
                        "readOnly": true
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "bank_charge_to_client_flg": {
                        "description": "振込手数料負担\n\n- 0：当方\n- 1：先方\n",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "example": 1,
                        "enum": [
                          0,
                          1
                        ]
                      },
                      "custom_no": {
                        "type": "string",
                        "description": "顧客番号",
                        "maxLength": 100,
                        "example": "C0001"
                      },
                      "company_bank_id": {
                        "description": "デフォルト振込口座ID\n\n※このIDを取得するAPIはありません。画面上の「組織設定→振込口座管理」で対象の「編集」に行き、そのURLに含まれるIDを使用してください。例：`https://the-board.jp/company_banks/123456/edit` → 123456\n",
                        "type": "integer",
                        "format": "int32",
                        "example": 123456
                      },
                      "company_bank_name": {
                        "type": "string",
                        "description": "デフォルト振込口座（銀行名 支店名）",
                        "maxLength": 100,
                        "example": "サンプル銀行 サンプル支店",
                        "readOnly": true
                      },
                      "name_en": {
                        "type": "string",
                        "description": "顧客名（英語表記）\n\n※英語アドオン有効時のみ\n",
                        "maxLength": 100,
                        "example": "Sample, inc"
                      }
                    }
                  },
                  {
                    "properties": {
                      "address_en": {
                        "type": "string",
                        "description": "住所（英語表記）\n\n※英語アドオン有効時のみ\n",
                        "maxLength": 500,
                        "example": "111 Chiyoda, Chiyoda, Tokyo 100-0001, Japan"
                      },
                      "phone_country_code": {
                        "type": "string",
                        "description": "国番号（英語表記）\n\n※英語アドオン有効時のみ\n",
                        "maxLength": 10,
                        "example": "81"
                      },
                      "currency": {
                        "type": "string",
                        "description": "デフォルト通貨\n\n※英語アドオン有効時のみ\n",
                        "maxLength": 3,
                        "default": "JPY",
                        "example": "USD",
                        "enum": [
                          "JPY",
                          "USD",
                          "EUR",
                          "GBP",
                          "CNY",
                          "HKD",
                          "TWD",
                          "KRW",
                          "SGD",
                          "AUD",
                          "IDR",
                          "THB",
                          "CAD"
                        ]
                      },
                      "lang_kbn": {
                        "description": "デフォルト言語\n\n- 1：日本語\n- 2：英語\n\n※英語アドオン有効時のみ\n",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "example": 1,
                        "enum": [
                          1,
                          2
                        ]
                      },
                      "lang_kbn_name": {
                        "type": "string",
                        "description": "デフォルト言語の名称\n\n※英語アドオン有効時のみ\n",
                        "example": "日本語",
                        "readOnly": true
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "archive_flg": {
                        "description": "アーカイブ状態\n\n- 0：未アーカイブ\n- 1：アーカイブ済み\n",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "example": 0,
                        "enum": [
                          0,
                          1
                        ]
                      },
                      "created_at": {
                        "type": "string",
                        "description": "登録日時",
                        "example": "2023-08-02T16:27:35.000+09:00",
                        "readOnly": true
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "更新日時",
                        "example": "2023-08-04T11:03:15.000+09:00",
                        "readOnly": true
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "顧客関連の定義情報"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "顧客ID",
                          "type": "integer",
                          "format": "int32",
                          "example": 123456,
                          "readOnly": true
                        },
                        "name": {
                          "type": "string",
                          "description": "顧客名",
                          "maxLength": 100,
                          "example": "サンプル株式会社"
                        },
                        "name_disp": {
                          "type": "string",
                          "description": "顧客略称名",
                          "maxLength": 50,
                          "example": "サンプル"
                        }
                      }
                    },
                    {
                      "properties": {
                        "zip": {
                          "type": "string",
                          "description": "郵便番号（ハイフン区切り）",
                          "maxLength": 8,
                          "example": "100-0001"
                        },
                        "pref": {
                          "type": "string",
                          "description": "都道府県",
                          "example": "東京都"
                        },
                        "address1": {
                          "type": "string",
                          "description": "市区町村・番地",
                          "maxLength": 100,
                          "example": "千代田区千代田111"
                        },
                        "address2": {
                          "type": "string",
                          "description": "建物名",
                          "maxLength": 100,
                          "example": "サンプルビル3階"
                        },
                        "tel": {
                          "type": "string",
                          "description": "TEL（ハイフン区切り）",
                          "maxLength": 15,
                          "example": "03-0000-0000"
                        },
                        "fax": {
                          "type": "string",
                          "description": "FAX（ハイフン区切り）",
                          "maxLength": 15,
                          "example": "03-0000-0000"
                        }
                      }
                    },
                    {
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "敬称",
                          "maxLength": 50,
                          "default": "御中",
                          "example": "御中"
                        },
                        "payment_term_id": {
                          "description": "デフォルト支払条件ID\n\n- 新規登録時に未指定の場合は最初の支払条件が使用されます\n- [支払条件リスト取得API](#tag/payment_term/operation/getPaymentTerms)のレスポンスにある`id`です\n",
                          "type": "integer",
                          "format": "int32",
                          "example": 123456
                        },
                        "payment_term_name": {
                          "type": "string",
                          "description": "デフォルト支払条件名",
                          "maxLength": 100,
                          "example": "月末締め翌月末払い",
                          "readOnly": true
                        },
                        "nda_flg": {
                          "description": "NDA締結\n\n- 0：未\n- 1：済\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 0,
                          "example": 0,
                          "enum": [
                            0,
                            1
                          ]
                        },
                        "basic_agreement_flg": {
                          "description": "基本契約書締結\n\n- 0：未\n- 1：済\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 0,
                          "example": 0,
                          "enum": [
                            0,
                            1
                          ]
                        },
                        "document_send_type": {
                          "description": "書類送付方法\n\n- 1：メール(DL)\n- 2：郵送\n- 3：メール(DL)+郵送\n- 4：メール(添付)\n- 5：メール(添付)+郵送\n- または[カスタム書類送付方法](#tag/document_send_channel/operation/getDocumentSendChannels)のID\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 1,
                          "example": 1
                        },
                        "document_send_type_name": {
                          "type": "string",
                          "description": "書類送付方法名",
                          "example": "メール(DL)",
                          "readOnly": true
                        },
                        "note": {
                          "type": "string",
                          "description": "備考",
                          "maxLength": 1000,
                          "example": "備考サンプルです"
                        },
                        "tags": {
                          "type": "array",
                          "description": "タグ\n\n※タグ名の配列\n",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "タグA",
                            "タグB"
                          ]
                        },
                        "wareki_flg": {
                          "description": "デフォルト和暦表示\n\n- 0：西暦\n- 1：和暦\n\n※「和暦表示」機能有効時のみ\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 0,
                          "example": 0,
                          "enum": [
                            0,
                            1
                          ]
                        },
                        "company_number": {
                          "type": "string",
                          "description": "法人番号",
                          "minLength": 13,
                          "maxLength": 13,
                          "example": "1234567890123"
                        },
                        "accounting_code": {
                          "type": "string",
                          "description": "会計用名称・コード\n\n※「会計連携機能」機能有効時のみ\n",
                          "maxLength": 100,
                          "example": "サンプル（株）"
                        },
                        "to": {
                          "type": "string",
                          "description": "TO（メールアドレス）\n\n※複数指定する場合はカンマ区切り\n",
                          "maxLength": 1000,
                          "example": "test@example.com"
                        },
                        "cc": {
                          "type": "string",
                          "description": "CC（メールアドレス）\n\n※複数指定する場合はカンマ区切り\n",
                          "maxLength": 1000,
                          "example": "test@example.com"
                        },
                        "invoice_system_number": {
                          "type": "string",
                          "description": "適格請求書発行事業者の登録番号",
                          "minLength": 14,
                          "maxLength": 14,
                          "example": "T1234567890123"
                        },
                        "invoice_system_number_validated": {
                          "type": "boolean",
                          "description": "登録番号のチェック状況",
                          "example": true,
                          "readOnly": true
                        },
                        "invoice_system_issuer_type": {
                          "description": "適格請求書発行事業者\n\n- 0：未設定\n- 1：該当する\n- 2：該当しない\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 0,
                          "example": 0,
                          "enum": [
                            0,
                            1,
                            2
                          ]
                        },
                        "invoice_system_issuer_type_name": {
                          "type": "string",
                          "description": "適格請求書発行事業者の名称",
                          "example": "未設定",
                          "readOnly": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "bank_charge_to_client_flg": {
                          "description": "振込手数料負担\n\n- 0：当方\n- 1：先方\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 1,
                          "example": 1,
                          "enum": [
                            0,
                            1
                          ]
                        },
                        "custom_no": {
                          "type": "string",
                          "description": "顧客番号",
                          "maxLength": 100,
                          "example": "C0001"
                        },
                        "company_bank_id": {
                          "description": "デフォルト振込口座ID\n\n※このIDを取得するAPIはありません。画面上の「組織設定→振込口座管理」で対象の「編集」に行き、そのURLに含まれるIDを使用してください。例：`https://the-board.jp/company_banks/123456/edit` → 123456\n",
                          "type": "integer",
                          "format": "int32",
                          "example": 123456
                        },
                        "company_bank_name": {
                          "type": "string",
                          "description": "デフォルト振込口座（銀行名 支店名）",
                          "maxLength": 100,
                          "example": "サンプル銀行 サンプル支店",
                          "readOnly": true
                        },
                        "name_en": {
                          "type": "string",
                          "description": "顧客名（英語表記）\n\n※英語アドオン有効時のみ\n",
                          "maxLength": 100,
                          "example": "Sample, inc"
                        }
                      }
                    },
                    {
                      "properties": {
                        "address_en": {
                          "type": "string",
                          "description": "住所（英語表記）\n\n※英語アドオン有効時のみ\n",
                          "maxLength": 500,
                          "example": "111 Chiyoda, Chiyoda, Tokyo 100-0001, Japan"
                        },
                        "phone_country_code": {
                          "type": "string",
                          "description": "国番号（英語表記）\n\n※英語アドオン有効時のみ\n",
                          "maxLength": 10,
                          "example": "81"
                        },
                        "currency": {
                          "type": "string",
                          "description": "デフォルト通貨\n\n※英語アドオン有効時のみ\n",
                          "maxLength": 3,
                          "default": "JPY",
                          "example": "USD",
                          "enum": [
                            "JPY",
                            "USD",
                            "EUR",
                            "GBP",
                            "CNY",
                            "HKD",
                            "TWD",
                            "KRW",
                            "SGD",
                            "AUD",
                            "IDR",
                            "THB",
                            "CAD"
                          ]
                        },
                        "lang_kbn": {
                          "description": "デフォルト言語\n\n- 1：日本語\n- 2：英語\n\n※英語アドオン有効時のみ\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 1,
                          "example": 1,
                          "enum": [
                            1,
                            2
                          ]
                        },
                        "lang_kbn_name": {
                          "type": "string",
                          "description": "デフォルト言語の名称\n\n※英語アドオン有効時のみ\n",
                          "example": "日本語",
                          "readOnly": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "archive_flg": {
                          "description": "アーカイブ状態\n\n- 0：未アーカイブ\n- 1：アーカイブ済み\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 0,
                          "example": 0,
                          "enum": [
                            0,
                            1
                          ]
                        },
                        "created_at": {
                          "type": "string",
                          "description": "登録日時",
                          "example": "2023-08-02T16:27:35.000+09:00",
                          "readOnly": true
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "更新日時",
                          "example": "2023-08-04T11:03:15.000+09:00",
                          "readOnly": true
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "APIキーまたはAPIトークンが無効です。"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "許可されていません。"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "指定のIDのデータが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "指定のリソースは見つかりません。"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "バリデーションエラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "パラメータが正しくありません。"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string",
                            "example": "sample_field"
                          },
                          "code": {
                            "type": "string",
                            "example": "blank"
                          },
                          "description": {
                            "type": "string",
                            "example": "サンプル項目を入力してください。"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl --location --request PATCH 'https://api.the-board.jp/v1/clients/123456' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Bearer API-TOKEN' \\\n--header 'x-api-key: API-KEY' \\\n--data '{\n  \"name\": \"更新サンプル株式会社\"\n}'"
          }
        ]
      },
      "delete": {
        "tags": [
          "client"
        ],
        "summary": "顧客削除",
        "description": "ID指定で顧客を削除します。",
        "operationId": "deleteClient",
        "security": [
          {
            "api_token": [],
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "顧客ID\n\n※[顧客登録API](#tag/client/operation/postClient)・[顧客リスト取得API](#tag/client/operation/getClients)のレスポンスにある`id`\n",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "削除成功"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "APIキーまたはAPIトークンが無効です。"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "許可されていません。"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "指定のIDのデータが存在しない",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "指定のリソースは見つかりません。"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl --location --request DELETE 'https://api.the-board.jp/v1/clients/123456' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Bearer API-TOKEN' \\\n--header 'x-api-key: API-KEY'\n"
          }
        ]
      },
      "get": {
        "tags": [
          "client"
        ],
        "summary": "顧客取得",
        "description": "ID指定で顧客を取得します。",
        "operationId": "getClient",
        "security": [
          {
            "api_token": [],
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "顧客ID\n\n※[顧客登録API](#tag/client/operation/postClient)・[顧客リスト取得API](#tag/client/operation/getClients)のレスポンスにある`id`\n",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "顧客関連の定義情報"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "顧客ID",
                          "type": "integer",
                          "format": "int32",
                          "example": 123456,
                          "readOnly": true
                        },
                        "name": {
                          "type": "string",
                          "description": "顧客名",
                          "maxLength": 100,
                          "example": "サンプル株式会社"
                        },
                        "name_disp": {
                          "type": "string",
                          "description": "顧客略称名",
                          "maxLength": 50,
                          "example": "サンプル"
                        }
                      }
                    },
                    {
                      "properties": {
                        "zip": {
                          "type": "string",
                          "description": "郵便番号（ハイフン区切り）",
                          "maxLength": 8,
                          "example": "100-0001"
                        },
                        "pref": {
                          "type": "string",
                          "description": "都道府県",
                          "example": "東京都"
                        },
                        "address1": {
                          "type": "string",
                          "description": "市区町村・番地",
                          "maxLength": 100,
                          "example": "千代田区千代田111"
                        },
                        "address2": {
                          "type": "string",
                          "description": "建物名",
                          "maxLength": 100,
                          "example": "サンプルビル3階"
                        },
                        "tel": {
                          "type": "string",
                          "description": "TEL（ハイフン区切り）",
                          "maxLength": 15,
                          "example": "03-0000-0000"
                        },
                        "fax": {
                          "type": "string",
                          "description": "FAX（ハイフン区切り）",
                          "maxLength": 15,
                          "example": "03-0000-0000"
                        }
                      }
                    },
                    {
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "敬称",
                          "maxLength": 50,
                          "default": "御中",
                          "example": "御中"
                        },
                        "payment_term_id": {
                          "description": "デフォルト支払条件ID\n\n- 新規登録時に未指定の場合は最初の支払条件が使用されます\n- [支払条件リスト取得API](#tag/payment_term/operation/getPaymentTerms)のレスポンスにある`id`です\n",
                          "type": "integer",
                          "format": "int32",
                          "example": 123456
                        },
                        "payment_term_name": {
                          "type": "string",
                          "description": "デフォルト支払条件名",
                          "maxLength": 100,
                          "example": "月末締め翌月末払い",
                          "readOnly": true
                        },
                        "nda_flg": {
                          "description": "NDA締結\n\n- 0：未\n- 1：済\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 0,
                          "example": 0,
                          "enum": [
                            0,
                            1
                          ]
                        },
                        "basic_agreement_flg": {
                          "description": "基本契約書締結\n\n- 0：未\n- 1：済\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 0,
                          "example": 0,
                          "enum": [
                            0,
                            1
                          ]
                        },
                        "document_send_type": {
                          "description": "書類送付方法\n\n- 1：メール(DL)\n- 2：郵送\n- 3：メール(DL)+郵送\n- 4：メール(添付)\n- 5：メール(添付)+郵送\n- または[カスタム書類送付方法](#tag/document_send_channel/operation/getDocumentSendChannels)のID\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 1,
                          "example": 1
                        },
                        "document_send_type_name": {
                          "type": "string",
                          "description": "書類送付方法名",
                          "example": "メール(DL)",
                          "readOnly": true
                        },
                        "note": {
                          "type": "string",
                          "description": "備考",
                          "maxLength": 1000,
                          "example": "備考サンプルです"
                        },
                        "tags": {
                          "type": "array",
                          "description": "タグ\n\n※タグ名の配列\n",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "タグA",
                            "タグB"
                          ]
                        },
                        "wareki_flg": {
                          "description": "デフォルト和暦表示\n\n- 0：西暦\n- 1：和暦\n\n※「和暦表示」機能有効時のみ\n",
                          "type": "integer",
                          "format": "int32",
                          "default": 0,
                          "example": 0,
                          "enum": [
[...]
